
body {
    font-family: 'Arial', sans-serif; 
    background-color: #f5f5f5; 
    margin: 0; /* Suppression de la marge par défaut */
    padding: 0; /* Suppression du rembourrage par défaut */
    color: #333; 
}


header {
    background-color: #333; 
    color: white; 
    padding: 20px; /* Espacement intérieur de l'en-tête */
    text-align: center; /* Alignement du texte au centre */
}


section {
    max-width: 800px; /* Largeur maximale de la section */
    margin: 20px auto; /* Marge extérieure automatique (centrage horizontal) */
    padding: 20px; /* Espacement intérieur de la section */
    background-color: #fff; /
}


section a i {
    color: blue; 
}


img {
    max-width: 100%; /* Image responsive, adaptée à la largeur du conteneur parent */
    height: auto; /* Hauteur automatique pour maintenir les proportions */
    border-radius: 50%; /* Bordure arrondie pour les images */
    margin-bottom: 20px; /* Marge en bas des images */
}


h2 {
    color: #3498db; 
}


p {
    line-height: 1.6; /* Hauteur de ligne pour améliorer la lisibilité */
}


ul {
    list-style-type: none; /* Suppression des puces des listes non ordonnées */
    padding: 0; /* Suppression du rembourrage par défaut des listes */
}

ul li {
    margin-bottom: 10px; /* Marge en bas des éléments de liste */
}

a {
    color: #3498db; /* Couleur du texte pour les liens */
    text-decoration: none; /* Pas de soulignement par défaut pour les liens */
}

a:hover {
    text-decoration: underline; /* Soulignement des liens au survol */
}

footer {
    background-color: #333; 
    color: #fff; 
    padding: 20px; /* Espacement intérieur du pied de page */
    text-align: center; /* Alignement du texte au centre */
    position: fixed; /* Position fixe en bas de la page */
    bottom: 0; /* Alignement en bas de la page */
    width: 100%; /* Largeur pleine de l'écran */
}


footer a {
    color: #fff; 
    text-decoration: none; /* Pas de soulignement par défaut pour les liens du pied de page */
    margin: 0 10px; /* Marge autour des liens du pied de page */
}

@media screen and (max-width:680px){
    nav .onglets {
        margin-left: 0px; /* Ajustement de la marge à gauche pour les onglets de navigation */
        margin-bottom: 20px; /* Espacement en bas pour les onglets de navigation */
    }
    .main .card {
        margin: 10px; /* Espacement autour des cartes principales */
    }
    .main .content .card .right img{
        height:200px; /* Taille de l'image dans les cartes */
        width: 100%; /* Largeur pleine dans les cartes */
        margin-top: -0px; /* Ajustement de la marge supérieure */
    }
    .main .content .card{
        display: block; /* Affichage des cartes en tant que blocs */
    }
    footer{
        padding: 30px; /* Ajustement de l'espacement intérieur du pied de page */
    }
}
