body {
    font-family: Arial, sans-serif; 
    text-align: center; /
    background-color: white; /* Couleur de fond noire */
    margin: 0; /* Suppression de la marge par défaut */
    padding: 0; /* Suppression du rembourrage par défaut */
}

header {
    background-color: #333; 
    color: #000; 
    padding: 20px; /* Espacement intérieur de l'en-tête */
    text-align: center; /* Alignement du texte au centre */
}

section {
    max-width: 800px; /* Largeur maximale de la section */
    margin: 20px auto; /* Marge extérieure automatique (centrage horizontal) */
    background-color: #fff; /
    padding: 20px; /* Espacement intérieur de la section */
    border-radius: 8px; /* Bordure arrondie pour la section */
    text-align: left; /* Alignement du texte à gauche */
}

h1 {
    color: white; /
}

h2 {
    color: #000; 
}

p {
    color: #000; 
}

footer {
    background-color: #333; 
    color: #fff; /
    padding: 20px; /* Espacement intérieur du pied de page */
    position: fixed; /* Position fixe en bas de la page */
    bottom: 0; /* Alignement en bas de la page */
    width: 100%; /* Largeur pleine de l'écran */
}

footer a {
    color: #fff; 
    text-decoration: none; /* Pas de soulignement par défaut pour les liens du pied de page */
    margin: 0 10px; /* Marge autour des liens du pied de page */
    font-weight: bold; /* Gras pour les liens du pied de page */
}

footer a:hover {
    text-decoration: underline; /* Soulignement des liens au survol */
}

@media screen and (max-width:680px){
    nav .onglets {
        margin-left: 0px; /* Ajustement de la marge à gauche pour les onglets de navigation */
        margin-bottom: 20px; /* Espacement en bas pour les onglets de navigation */
    }
    .main .card {
        margin: 10px; /* Espacement autour des cartes principales */
    }
    .main .content .card .right img{
        height:200px; /* Taille de l'image dans les cartes */
        width: 100%; /* Largeur pleine dans les cartes */
        margin-top: -0px; /* Ajustement de la marge supérieure */
    }
    .main .content .card{
        display: block; /* Affichage des cartes en tant que blocs */
    }
    footer{
        padding: 30px; /* Ajustement de l'espacement intérieur du pied de page */
    }
}
