/* Styles de base pour le corps de la page */
body {
    font-family: Arial, sans-serif; /* Police de caractères par défaut */
    text-align: center; /* Alignement du texte au centre */
    background-color: white; /* Couleur de fond noire */
    margin: 0; /* Suppression de la marge par défaut */
    padding: 0; /* Suppression du rembourrage par défaut */
}

/* Styles pour l'en-tête de la page */
header {
    background-color: #333; /* Couleur de fond de l'en-tête */
    color: #000; /* Couleur du texte de l'en-tête */
    padding: 20px; /* Espacement intérieur de l'en-tête */
    text-align: center; /* Alignement du texte au centre */
}

/* Styles pour la section principale de la page */
section {
    max-width: 800px; /* Largeur maximale de la section */
    margin: 20px auto; /* Marge extérieure automatique (centrage horizontal) */
    background-color: #fff; /* Couleur de fond de la section */
    padding: 20px; /* Espacement intérieur de la section */
    border-radius: 8px; /* Bordure arrondie pour la section */
    text-align: left; /* Alignement du texte à gauche */
}

/* Styles pour le titre de niveau 1 */
h1 {
    color: white; /* Couleur du texte pour le titre de niveau 1 */
}

/* Styles pour le titre de niveau 2 */
h2 {
    color: #000; /* Couleur du texte pour le titre de niveau 2 */
}

/* Styles pour les paragraphes */
p {
    color: #000; /* Couleur du texte pour les paragraphes */
}

/* Styles pour le pied de page */
footer {
    background-color: #333; /* Couleur de fond du pied de page */
    color: #fff; /* Couleur du texte du pied de page */
    padding: 20px; /* Espacement intérieur du pied de page */
    position: fixed; /* Position fixe en bas de la page */
    bottom: 0; /* Alignement en bas de la page */
    width: 100%; /* Largeur pleine de l'écran */
}

/* Styles pour les liens dans le pied de page */
footer a {
    color: #fff; /* Couleur du texte des liens du pied de page */
    text-decoration: none; /* Pas de soulignement par défaut pour les liens du pied de page */
    margin: 0 10px; /* Marge autour des liens du pied de page */
    font-weight: bold; /* Gras pour les liens du pied de page */
}

/* Styles pour les liens au survol */
footer a:hover {
    text-decoration: underline; /* Soulignement des liens au survol */
}

/* Styles spécifiques pour les écrans dont la largeur est inférieure à 680 pixels */
@media screen and (max-width:680px){
    nav .onglets {
        margin-left: 0px; /* Ajustement de la marge à gauche pour les onglets de navigation */
        margin-bottom: 20px; /* Espacement en bas pour les onglets de navigation */
    }
    .main .card {
        margin: 10px; /* Espacement autour des cartes principales */
    }
    .main .content .card .right img{
        height:200px; /* Taille de l'image dans les cartes */
        width: 100%; /* Largeur pleine dans les cartes */
        margin-top: -0px; /* Ajustement de la marge supérieure */
    }
    .main .content .card{
        display: block; /* Affichage des cartes en tant que blocs */
    }
    footer{
        padding: 30px; /* Ajustement de l'espacement intérieur du pied de page */
    }
}
