
body, h1, h2, p, ul, ol, li {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif; /* Police de caractères par défaut */
    text-align: center; /* Alignement du texte au centre */
    background-color: #f4f4f4; 
    margin: 0;
    padding: 0;
}


header {
    background-color: #333; /* Couleur de fond de l'en-tête */
    color: white; /* Couleur du texte */
    padding: 20px; /* Espacement intérieur */
}


h1 {
    margin: 0;
    font-size: 2em; /* Taille de police  */
}


section {
    padding: 300px; /* Espacement intérieur de la section */
    
    background-size: cover; /* Ajustement de la taille de l'image de fond pour couvrir la section */
}

h4 {
    margin: 0;
    font-size: 3em; 
}


footer {
    background-color: #333; 
    color: #fff; 
    padding: 20px; /* Espacement intérieur du pied de page */
    position: fixed; /* Position fixe en bas de la page */
    bottom: 0; /* Alignement en bas de la page */
    width: 100%; /* Largeur pleine de l'écran */
}


footer a {
    color: #fff; 
    text-decoration: none; /* Pas de soulignement par défaut */
    margin: 0 10px; /* Marge autour des liens */
    font-weight: bold; 
}

footer a:hover {
    text-decoration: underline; 
}


@media screen and (max-width:680px){
    nav .onglets {
        margin-left: 0px; /* Ajustement de la marge à gauche pour les onglets de navigation */
        margin-bottom: 20px; /* Espacement en bas pour les onglets de navigation */
    }
    .main .card {
        margin: 10px; /* Espacement autour des cartes principales */
    }
    .main .content .card .right img{
        height:200px; /* Taille de l'image dans les cartes */
        width: 100%; /* Largeur pleine dans les cartes */
        margin-top: -0px; /* Ajustement de la marge supérieure */
    }
    .main .content .card{
        display: block; /* Affichage des cartes en tant que blocs */
    }
    footer{
        padding: 30px; /* Ajustement de l'espacement intérieur du pied de page */
    }
}
